{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--imoprtando estilo css-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--importando el flexboxgrid-->
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">
    <!--importando el estilo del slider-->
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
    <!--titulo-->
    <title>Ecoturismo Lugares que Hablan</title>
</head>

<body>
   
    <div>
        <nav id=header class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a href="{% url 'index' %}">Pagina Principal</a>
            <a href="{% url 'Lugar1' %}">Primer Destino</a>
            <a href="{% url 'Registro' %}">Registrate</a>
            <a href="{% url 'IniciarSesion' %}">Iniciar Sesion</a>
            <a href="{% url 'Contacto' %}">Contacto</a>
            <a href="{% url 'agregar-region'%}">Agregar Region</a>
            <a href="{% url 'listar-region'%}">Listado Region</a>
        </nav>
    </div>
    
    <div id="cuerpo" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {% block contenido %}
        {% endblock %}
    </div>
    
    
</body>

<footer id="footer">
    <div>
        <!--mensaje informativo-->
        <p> <em> Imagenes utilizadas con propositos educacionales, no somos dueños de ellas</em></p>
        <!--redireccionar a la pagina de registro-->
        <a href="{% url 'index' %}">Pagina Principal</a>
            <a href="{% url 'Lugar1' %}">Primer Destino</a>
            <a href="{% url 'Registro' %}">Registrate</a>
            <a href="{% url 'IniciarSesion' %}">Iniciar Sesion</a>
            <a href="{% url 'Contacto' %}">Contacto</a>
        </nav>
    </div>
</footer>
</html>